/tests/log
/nbproject
/library/Zend
/application/uploads
/application/configs/appkeys.ini
/tmp
/.zfproject.xml
*.bak
*.orig
/application/forms/Decorator/.LCKCaptcha.php~
/application/forms/Element/.LCKCaptcha.php~
